
:root {
  --azul-universe-lightest: #F8F7FC;
  --azul-universe-light: #D9D8E6;
  --azul-universe-medium: #8580AB;
  --azul-universe-dark: #545073;
  --azul-universe-darkest: #110D2F;
  --rosa-2b-lightest: #FFF7FA;
  --rosa-2b-light: #FFE8F1;
  --rosa-2b-medium: #FFCCD8;
  --rosa-2b-dark: #E8335D;
  --rosa-2b-darkest: #CC2D52;
  --neutral-darkest: #262626;
  --neutral-dark: #7A7A7A;
  --neutral-medium: #E0E0E0;
  --neutral-light: #F5F5F5;
  --neutral-lightest: #FFFFFF;
  --aux-amarelo: #DEBF10;
  --aux-vermelho: #DD4F44;
  --aux-verde: #57D979;
  --aux-azul: #26A5FF;
  --unnamed-color-4040ff: #4040FF;
  --unnamed-color-000000: #000000;
  --unnamed-color-cccccc: #CCCCCC;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
